<div class="col-md-4 product-men">
  <div class="men-pro-item simpleCart_shelfItem">
    <div class="men-thumb-item">
      <%= image_tag product.display_image if product.image.attached? %>
      <div class="men-cart-pro">
        <div class="inner-men-cart-pro">
          <%= link_to "Quick View", product_path(product, :id),
              class: "link-product-add-cart"%>
        </div>
      </div>
      <span class="product-new-top">New</span>
    </div>
    <div class="item-info-product">
      <h4>
        <p><%= product.title %></p>
      </h4>
    </div>
    <div class="info-product-price">
      <h2>
        <strong> 
          <p><%= product.price %> &#36; </p>
        </h2>
      </div>
      <%= form_for @order_item, remote: true, :html => { :onsubmit => "showPopup()" } do |f| %>
        <div class="input-group">
          <%= f.hidden_field :quantity, value: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <%= f.submit "Add to Cart" %>
        </div>
      <% end %>
    </div>
  </div>
