<li class="dropdown">
  <%= link_to "#", class: "dropdown-toggle",
    data: {toggle: "dropdown"} do %>
    <%= current_user.email %>
    <b class="caret"></b>
  <% end %>
  <ul class="dropdown-menu">
    <li><%= link_to "Lich su mua hang"%></li>
    <li><%= link_to t("profile")%></li>
    <li><%= link_to t("update")%></li>
    <li><%= link_to t("settings"), "#" %></li>
    <li class="divider"></li>
    <li>
      <%= link_to t("signout"), signout_path, method: :delete %>
    </li>
  </ul>
</li>
